@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  background-color: #242333;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lato', sans-serif;
  margin: 0;
}
th, td {
  border: 1px solid;
  border-collapse: collapse;
  text-align: center;

}
tr:hover{
  background-color: #6e6aa9;
}
tr.sel{
  background-color: #39a0ea;

}
.tableDiv{
  margin-top: 50px;
  flex: 1;
  height: 800px;
  weight: 100%;
  overflow-y:auto;
}
table{
  border: 1px solid;
  border-collapse: collapse;
  height: 100px;
  weight: 100%;
  padding: 8px;
}


.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;


}
.seat {
  background-color: #444451;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.seat.selected {
  background-color: #6feaf6;
}


.seat.reserved {
  background-color: #ff8b8b;
}
.seat.occupied {
  background-color: #fff;
}

.seat.taken {
  background-color: #8d00ff;
}
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.row .tooltiptext {
  visibility: hidden;
  width: 120px;
  height: 10px;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: relative;
  top: 0px;
  right: 0px;

}

.row:hover .tooltiptext {
  visibility: visible;
}

.seat:nth-of-type(0) {
  margin-right: 18px;
}

.seat:nth-last-of-type(0) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}
.rowname{
  margin-right: 18px;
  -webkit-text-fill-color: #777777;
}
.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 40px;
}

.showcase li small {
  margin-left: 10px;
}

.row {
  display: flex;
  margin-bottom: 5px;
  margin-left: 50%;

}
.row:nth-of-type(11) {
  margin-bottom: 20px;
}
.rowname{
  margin-left: 10%;
}
.screen {
  background-color: #fff;
  height: 70px;
  width: 80%;
  margin-left: 10%;
  margin-bottom: 50px;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
}

p.text span {
  color: #6feaf6;
}
.button-36 {
  background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  flex-shrink: 0;
  font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 2rem;
  padding: 0 1.6rem;
  text-align: center;
  text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
  transition: all .5s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.button-36:hover {
   box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
   transition-duration: .1s;
 }

.textfieldd{
  -webkit-text-fill-color: #FFFFFF;
  font-size: 9px;
  color: rgba(0,0,0,.87);
  border-bottom-color: rgba(0,0,0,.42);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: inherit;
  align-self: flex-end;
  box-sizing: border-box;
  width: 50%;
  padding: 10px 16px 6px;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  border-bottom: 1px solid;
  border-radius: 4px 4px 0 0;
  background: #242333;
  height: 60%;
}
.textfieldd:hover{
  border-bottom-color: rgba(111,234,249,.87);
  background: #444451;
}
.textfieldd:focus{
  outline: none;
  border-color: #6200ee;
  border-bottom-color: rgba(111,234,249,.87);
}
